@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.section-wrapper {
  position: relative;
  background-color: white;
  padding: 2.5rem;
  font-size: 1rem;
  margin-top: 30rem;
  margin-left: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  /*margin: 1rem auto;*/
  max-width: 350px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.section-wrapper.visible {
  opacity: 0;
}

/*.flex-end {
  display: flex;
  justify-content: flex-end;
}*/
